@use "../../styles/partials/global" as *;

.modal {
	padding: 1rem 1rem 2.5rem 1rem;
	box-sizing: border-box;
	position: fixed;
	background-color: $Nav-menu-black;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	scroll-behavior: smooth;

	@include tablet {
		height: 75vh;
		width: 75vw;
		border-radius: 4px;
		box-shadow: 0 2px 5px black;
		padding: 0.5rem 1rem;
		box-sizing: border-box;
		position: fixed;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:focus {
		outline: none;
	}

	&__closer {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		cursor: pointer;

		img {
			width: 1.5rem;
		}
	}

	&__children {
		min-height: 85%;
		padding-top: 1rem;
		display: flex;
	}

	&__buttons {
		@include flex-center-horizontal;
		gap: 1rem;

		@include tablet {
			justify-content: flex-end;
			padding-right: 4rem;
		}
	}

	&__header {
		font-size: 1.75rem;

		@include tablet {
			margin: 0;
			font-size: 2rem;
		}
	}

	&__text {
		font-size: 1rem;
		line-height: 1.625rem;

		@include tablet {
			margin-bottom: 0;
		}
	}
}

.modalOverlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	@include flex-center-both;
	z-index: 1001;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.cancel-button {
	padding: 0.5rem 3.8rem;
	cursor: pointer;
	font-size: 0.8125rem;

	@include tablet {
		padding: 0.5rem 1rem;
		font-size: 0.875rem;
	}
}

.line-break {
	display: none;

	@include tablet {
		display: block;
	}
}
