@use "../../styles/partials/fonts";
@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.QA {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 2rem;
        font-weight: 600;
        color: $ScoreBlue;
        overflow: hidden;
        letter-spacing: 0.1rem;

    }

    &__button {
        background-color: $ScoreYellow;
        color: $ScoreBlue;
        font-weight: 600;
        font-size: 1.5;
        padding: 1rem 1.5rem;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        cursor: pointer;



        &:hover {
            transform: translateY(-4px);
            transition: transform 0.2s ease;
            background-color: rgba(255, 191, 0, 0.8);

        }

        &--green {
            background-color: greenyellow;
        }

        &--red {
            background-color: red;
        }
    }

    &__button-container {
        gap: 2rem;
        display: flex;
        justify-content: space-evenly;

        &--left,
        &--right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__clock {
        width: 6rem;
        border-radius: 50%;
        background-color: $NavFont;
    }
}
