@use "./styles/partials/global" as *;

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: black;
	@include flex-center-both;
}

.read-the-docs {
	color: rgba(249, 249, 249, 0.65);
}

.homepage {
	background-color: black;
}
