@use "./styles/partials/global" as *;

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: black;
	font-family: "Inter";
}

.read-the-docs {
	color: rgba(249, 249, 249, 0.65);
}

.homepage {
	background-color: black;
	display: flex;
	justify-content: center;
}
