@font-face {
	font-family: "Inter";
	src: url("src/assets/fonts/Inter-Regular.woff2") format("woff2"),
		url("src/assets/fonts/Inter-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
