@use "../../styles/partials/global" as *;

.header__container {
	position: -webkit-sticky; //safari
	position: sticky;
	top: 0;
	z-index: 1000;
}
.header {
	height: 3.75rem;
	background-color: #1e1f21;
	@include flex-center-both;

	&__wrapper {
		@include flex-center-both;
		width: 1000px;
		gap: 1rem;
	}

	&__logo {
		width: 6.875rem;
		img {
			width: 110px;
			padding-top: 0.5rem;
		}
	}

	&__buttons {
		margin-left: 2rem;
		@include flex-center-both;
		gap: 1rem;

		.header__button {
			border-radius: 4px;
			border: 1px solid transparent;
			padding: 10px;
			font-size: 14px;
			height: 32px;
			width: max-content;
			text-align: center;
			font-weight: 700;
			font-family: Arial, Helvetica, sans-serif;
			background-color: #006dff;
			color: white;
			cursor: pointer;
			transition: border-color 0.25s;
			@include flex-center-both;

			&--yellow {
				background-color: $ScoreYellow;
				animation: pulse 2s ease infinite;
			}

			&:hover {
				background-color: #005abe;
			}
			&:focus,
			&:focus-visible {
				outline: 4px auto -webkit-focus-ring-color;
			}
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
	}
	100% {
		box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
	}
}
