@use "../../styles/partials/global" as *;

.header {
	height: 3.75rem;
	background-color: #1e1f21;
	@include flex-center-both;

	&__wrapper {
		@include flex-center-both;
		width: 1000px;
		gap: 1rem;
	}

	&__logo {
		width: 6.875rem;
		img {
			width: 110px;
			padding-top: 0.5rem;
		}
	}

	&__buttons {
		margin-left: 2rem;
		@include flex-center-both;
		gap: 1rem;

		.header__button {
			border-radius: 4px;
			border: 1px solid transparent;
			padding: 10px;
			font-size: 14px;
			height: 32px;
			width: max-content;
			text-align: center;
			font-weight: 700;
			font-family: Arial, Helvetica, sans-serif;
			background-color: #006dff;
			color: white;
			cursor: pointer;
			transition: border-color 0.25s;
			@include flex-center-both;

			&--yellow {
				color: $ScoreYellow;
			}

			&:hover {
				background-color: #005abe;
			}
			&:focus,
			&:focus-visible {
				outline: 4px auto -webkit-focus-ring-color;
			}
		}
	}
}
